{% extends "base.html" %}

{% block content %}
    <main class="backindex" style="background-image:url(/static/media/img/industria.jpg)">
        <br>
        <br>
        <h3 class="backindex"> El Sindicato de Trabajadores de la Industria Alimenticia (STIA) es una organización que representa y defiende los derechos de los trabajadores del sector alimenticio.</h3>
        <h3 class="backindex">Nuestra misión es garantizar condiciones laborales justas, promover el bienestar de nuestros afiliados y fortalecer la industria a través del diálogo y la cooperación.</h3>
        <h3 class="backindex">A través de nuestra plataforma digital, facilitamos la gestión de órdenes de compra para brindar un servicio eficiente y accesible a nuestros afiliados y colaboradores.</h3>
        <br>
        <br>
        <br>
        <br>
    </main>
{% endblock %}