
{% extends "base.html" %}

{% block content %}
    <main class="backindex" style="background-image:url(/static/media/img/industria.jpg)">
        <div class="logomain">
            <img src="/static/media/img/logo_stia.png" alt="">
        </div>
        <h1 class="backindex"> Sistema de Ordenes de Compra</h1>
        <h1 class="backindex"> del Sindicato de Trabajadores
        de la Industria Alimenticia</h1>
        <h1 class="backindex"> Departamento La Paz Catamarca</h1>
        <br>
        <br>
        <br>
    </main>
{% endblock %}