{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="titulo">Enviar Comunicado Masivo</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="asunto" class="titulo">Asunto del Comunicado:</label>
            <input type="text" name="asunto" id="asunto" class="form-control" placeholder="Ingrese el asunto" required>
        </div>
        <div class="mb-3">
            <label for="cuerpo" class="titulo">Cuerpo del Comunicado:</label>
            <textarea name="cuerpo" id="cuerpo" class="form-control" rows="5" placeholder="Ingrese el texto del comunicado" required></textarea>
        </div>
        <div class="titulo">
            <button type="submit" class="btn btn-success">Enviar Comunicado</button>
        </div>
    </form>
    
</div>
{% endblock %}