{% extends "base.html" %}
{% block content %}


<div class="card-body">
  <h4 class="titulo">CONSULTA DE ORDEN</h4>
  <form class="card-body" method="POST">
    {% csrf_token %}
    <div class="label-input">
      <label class="titulo">Orden:</label>
      <div class="input-group" style="width: 300px;">
        <input type="text" placeholder="Numero de orden..." name="ordenempleado" maxlength="30" required="True"
          class="form-control" />
        <input type="submit" value="Buscar" class="btn btn-success" />
      </div>
    </div>
    {% if error %}
      <div class="text-center alert alert-danger alert-dismissible fade show" role="alert">
        Ups {{ user.username | upper }}  !! {{ msjerror }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
    {% if orden_list %}
    <table class="table table-primary table-hover">
      <thead>
        <tr>
          <th class="text-center" scope="col">ORDEN</th>
          <th class="text-center" scope="col">EMPLEADO</th>
          <th class="text-center" scope="col">COMERCIO</th>
          <th class="text-center" scope="col">IMPORTE</th>
          <th class="text-center" scope="col">CUOTAS</th>
          <th class="text-center" scope="col">FECHA</th>
          <th class="text-center" scope="col">ACTIVA</th>
          <th class="text-center" scope="col"></th>
          {% if usuarioadmin %}
          <th class="text-center" scope="col"></th>
          {% endif %}
        </tr>
      </thead>
      {% for orden in orden_list %}
      <tbody>
        <tr {% if not orden.activo %} class="table-danger fst-italic" {% endif %}>
          <td class="text-center">{{ orden.id }}</td>
          <td class="text-center">{{ orden.empleado.nombre }}</td>
          <td class="text-center">{{ orden.comercio.comercio }}</td>
          <td class="text-center">$ {{ orden.importe }}</td>
          <td class="text-center">{{ orden.cuotas }} de $ {{orden.valorcuota}}</td>
          <td class="text-center">{{ orden.fecha }}</td>
          {% if orden.activo %}
            <td class="text-center">Activa</td>
          {% else %}
            <td class="text-center fw-bold">Anulada</td>
          {% endif %}
          <td class="text-center"><a href="{% url 'ordenes:export_pdf' orden.id %}" class="btn btn-info" target="_blank">Imprime</a></td>
        <tr>
      </tbody>
      {% endfor %}
    </table>
    {% endif %}



  </form>

</div>


{% endblock %}