{% extends "base.html" %}
{% block content %}

<div class="card" style="background-color: burlywood;">
    <div class="card-header">
        <h4  style="text-align: center;">EDITAR EMPRESA</h4>
    </div>
    <div class="card-body">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!--<div>{{form.as_p}}-->
            <div class="label-input">
                <p>
                    <label for="id_nombre">Nombre de la Empresa:</label>
                    <input type="text" name="nombre" id="id_nombre"
                        value="{{ empresa.nombre }}" class="form-control" style="width: 200px;" disabled/>
                </p>
                <p>
                    <label for="id_direccion">Direccion de la empresa:</label>
                    <input type="text" name="titular" id="id_direccion"
                        value="{{ empresa.direccion }}" class="form-control" style="width: 400px;"/>
                </p>
                <p>
                    <label for="id_telefono">Telefono de la empresa:</label>
                    <input type="text" name="telefono" id="id_telefono"
                        value="{{ empresa.telefono }}" class="form-control" style="width: 200px;"/>
                </p>
                <p>
                    <label for="id_activo">Activo:</label>
                    <select name="activo" id="id_activo" class="form-control">
                        {% if empresa.activo %}
                        <option value="True" selected >SI</option>
                        <option value="False" >NO</option>
                        {% else %}
                        <option value="True" >SI</option>
                        <option value="False" selected >NO</option>
                        {% endif %}
                    </select>
                </p>
            </div>
            <div class="label-input">
                <button type="submit" class="btn btn-success">Guardar Cambios</button>
            </div>
        </form>
        <div class="label-input" style="margin-top: 15px;">
            <a href="{% url 'ordenes:empresa_list' %}" class="btn btn-danger">Volver a la lista</a>
        </div>
    </div>
</div>
{% endblock %}