{% extends 'base.html' %}
{% block content %}

<div class="card" style="background-color: burlywood;">
        <div class="card-header">
            <h4 style="text-align: center;">Crear Empresa</h4>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="label-input">
                <label for="id_nombre">Nombre:</label>
                <input type="text" name="nombre" id="id_nombre" class="form-control" style="width: 400px;" required>
            </div>
            <div class="label-input">
                <label for="id_direccion">Dirección:</label>
                <input type="text" name="direccion" id="id_direccion" class="form-control" style="width: 400px;">
            </div>
            <div class="label-input">
                <label for="id_telefono">Teléfono:</label>
                <input type="text" name="telefono" id="id_telefono" class="form-control" style="width: 400px;">
            </div>
            <div class="label-input" style="margin-top: 15px;">
                <button type="submit" class="btn btn-success">Crear Empresa</button>
            </div>
        </form>
        <div class="label-input" style="margin-top: 15px;">
            <a href="{% url 'ordenes:empresa_list' %}" class="btn btn-danger">Volver a la lista</a>
        </div>
    </div>

{% endblock %}

